/* fonts  */

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* common styles  */

.custom-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

details[open] summary .arrow {
    transform: translateY(-50%) rotate(180deg);
}

.tab-btn.active:hover {
    transform: none !important;
}

/* slider css  */

.testimonial-section .swiper-button-next:after,
.testimonial-section .swiper-button-prev:after {
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.testimonial-section .swiper-pagination-progressbar {
    background-color: #808080;
}

.testimonial-section .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: #212121;
}

.testimonial-section .review-content {
    min-height: 382px;
}

.video-swiper .swiper-pagination-bullet-active {
    background-color: #ffffff;
}

.video-swiper .swiper-pagination-bullet {
    background-color: #ffffff;
    height: 24px;
    width: 24px;
    margin: 20px 10px !important;
}

.custom-pl {
    padding-left: max(calc((100vw - 1220px) / 2), 5%) !important;
}

@media screen and (max-width: 767px) {
    .testimonial-section .review-content {
        min-height: 300px;
    }

    .video-swiper .swiper-pagination-bullet {
    height: 16px;
    width: 16px;
    margin: 10px 5px !important;
}
}

@media screen and (max-width: 620px) {
    .testimonial-section .review-content::before {
        width: 115%;
    }
}

@media screen and (max-width: 620px) {
    .testimonial-section .custom-container {
        width: 100%;
        padding-left: 5%;
    }
}

@media screen and (max-width: 370px) {
    .testimonial-section .review-content::before {
        width: 100%;
    }
}